@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow-y: hidden;
}

main {
  height: 100%;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  position: relative;
  @apply bg-purple-700/70;
}

#__next {
  height: 100%;
}

.rselect .rselect__control {
  @apply rounded-xl border-purple-900 shadow-none focus-within:border-yellow-500 hover:border-yellow-400;
}
.rselect--white .rselect__control {
  @apply rounded-xl border-2 border-purple-500 bg-purple-500 transition-colors focus-within:border-yellow-500 hover:border-yellow-400;
}
.rselect--heading .rselect__control {
  @apply border-4 border-white focus-within:border-yellow-500 hover:border-yellow-400;
}
.rselect--heading .rselect__control--menu-is-open {
  @apply border-purple-900;
}

.rselect .rselect__control--menu-is-open {
  @apply rounded-b-none border-b-0;
}

.rselect .rselect__indicator-separator {
  display: none;
}

.rselect .rselect__value-container {
  @apply py-2 text-lg;
}
.rselect--heading .rselect__value-container {
  @apply text-2xl;
}

.rselect .rselect__value-container--is-multi {
  @apply min-h-[44px];
}

.rselect .rselect__single-value,
.rselect .rselect__input-container {
  @apply my-0 ml-2 py-0 text-black;
}
.rselect--white .rselect__single-value {
  @apply ml-1 text-white;
}

.rselect .rselect__placeholder {
  @apply ml-2 text-lg text-black;
}

.rselect .rselect__multi-value {
  @apply mr-2 rounded-xl bg-transparent px-4 py-2;
}

.rselect .rselect__multi-value__label {
  @apply py-0 text-xs text-black;
}

.rselect .rselect__multi-value__remove {
  @apply hover:bg-transparent;
}

.rselect .rselect__menu {
  @apply m-0 rounded-b-xl rounded-t-none border-2 border-t-0 border-purple-900 shadow-none;
}
.rselect--white .rselect__menu {
  @apply rounded-b-xl border-yellow-500 bg-purple-500;
}
.rselect--heading .rselect__menu {
  @apply border-4 border-yellow-400 bg-purple-700;
}

.rselect .rselect__menu-list {
  @apply rounded-b-xl pt-0;
}
.rselect--white .rselect__menu-list {
  @apply rounded-b-xl;
}

.rselect .rselect__option {
  @apply border-t border-purple-900 px-4 py-2 text-sm hover:bg-yellow-500;
}
.rselect--white .rselect__option {
  @apply cursor-pointer border-purple-500 bg-purple-500 px-3 text-white transition-colors hover:text-black;
}
.rselect--heading .rselect__option {
  @apply border-yellow-400 text-2xl hover:bg-white;
}
.rselect .rselect__option--is-focused {
  @apply bg-transparent text-yellow-400;
}
.rselect .rselect__option--is-selected {
  @apply bg-purple-900 text-white;
}
.rselect--white .rselect__option--is-selected,
.rselect--heading .rselect__option--is-selected {
  @apply bg-transparent text-white;
}

.rselect .rselect__menu-list > .rselect__option:first-of-type,
.rselect__option + .rselect__group > .rselect__group-heading:first-of-type {
  border-top-width: 0;
}

.rselect .rselect__group-heading {
  @apply mb-0 border-t border-purple-900 px-3 py-2 text-sm font-semibold normal-case italic text-black;
}
